html {
  font-size: 14px !important;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
#app {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
el-carousel__arrow el-carousel__arrow--left {
  left: 20px;
}
el-carousel__arrow el-carousel__arrow--right {
  right: 20px;
}
.el-carousel__arrow {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}
.el-carousel__arrow i {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: none;
}
.el-carousel__arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.el-carousel__arrow,
.el-carousel__button {
  margin: 0;
  transition: .3s;
  cursor: pointer;
  outline: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
header.navbar {
  transition: all .4s;
  height: 74px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
header.navbar.top {
  top: -12px;
}
header.navbar .logo {
  position: absolute;
  left: 35%;
  height: 62px;
  top: 5px;
}
header.navbar ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 480px;
  height: 74px;
}
header.navbar ul li {
  display: inline-block;
  list-style: none;
  width: 100px;
  height: 100%;
  text-align: center;
  position: relative;
  cursor: pointer;
}
header.navbar ul li:hover:after,
header.navbar ul li.n_active:after {
  width: 80px;
}
header.navbar ul li:hover a,
header.navbar ul li.n_active a {
  color: #fff !important;
}
header.navbar ul li:hover a i,
header.navbar ul li.n_active a i {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
header.navbar ul li:after {
  transition: all .4s;
  position: absolute;
  background-color: #fff;
  left: 0;
  content: ' ';
  bottom: 14px;
  height: 14px;
  width: 0;
  z-index: -1;
}
header.navbar ul li a {
  color: #fff;
  display: block;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: left;
  padding-top: 20px;
  padding-left: 0;
  height: 100%;
}

header.navbar ul li a i {
  opacity: 0;
  margin-top: 3px;
  display: block;
  color: #000;
  font-size: 0.8rem;
  padding-left: 2px;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  transition: all .4s;
  transition-delay: .2s;
  font-style: normal;
}
section.carousel img {
  width: 100%;
}
section.carousel .carousel-indicators li {
  border-radius: 0;
  border: 0;
  height: 2px;
  width: 30px;
  background-color: #fff;
  opacity: .48;
}
section.carousel .carousel-indicators li.active {
  opacity: 1;
  margin: 1px;
}
.section-title {
  text-align: center;
  color: #4b4b4b;
}
.section-title h5 {
  margin: 0;
  padding: 6rem 0 10px 0;
  font-size: 2.5rem;
  font-weight: 300;
}
.section-title p {
  font-size: 1.5rem;
  font-weight: 200;
}
#service {
  background-color: #f0f0f0;
  padding-bottom: 3rem;
}
#service .service-images {
  margin-top: 3rem;
}
#service .service-images img {
  width: 100%;
}
#service .container-fluid {
  margin-top: 3rem;
}
#service .container-fluid .col-xs-4 {
  text-align: center;
}
#service .container-fluid .col-xs-4 img {
  width: 50%;
  border-radius: 50%;
  transition: all .4s;
  cursor: pointer;
}
#service .container-fluid .col-xs-4 img:hover {
  background-color: #fff;
}
#service .container-fluid .col-xs-4 h5 {
  padding: 0;
  margin-top: 1rem;
  font-size: 1.3rem;
}
#service .container-fluid .col-xs-4 p {
  font-size: 1.3rem;
}
#case .section-title {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rbga(0, 0, 0, 0.4);
}
#case .container-fluid {
  padding: 0;
}
#case .container-fluid .col-md-3,
#case .container-fluid .col-md-6 {
  padding: 0;
}
#case .container-fluid .col-md-3 img,
#case .container-fluid .col-md-6 img {
  width: 100%;
}
#about {
  background-color: #f0f0f0;
  padding-bottom: 4rem;
  height: 900px;
}
#about .bottom-img img {
  width: 100%;
}
#about .info {
  width: 600px;
  margin: 0 auto;
  padding-top: 4rem;
}
#about .info img {
  width: 200px;
}
#about .info .detail {
  width: 400px;
  float: right;
  padding: 0 0 40px 0;
}
#about .info .detail h5 {
  padding: 0;
  margin: 0 0 0 2rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #555;
}
#about .info .detail ul {
  margin-top: 2.5rem;
  padding: 0 0 0 4rem;
}
#about .info .detail ul li {
  list-style: none;
  line-height: 2.6rem;
  color: #555;
  padding-left: 3.5rem;
  font-size: 1.2rem;
  font-weight: 200;
  position: relative;
  background: url("/static/images/icons.png") no-repeat;
}
#about .info .detail ul li:nth-child(1) {
  background-position: 0 2px;
}
#about .info .detail ul li:nth-child(2) {
  background-position: 0 -37px;
}
#about .info .detail ul li:nth-child(3) {
  background-position: 0 -73px;
}
#about .info .detail ul li:nth-child(4) {
  background-position: 0 -110px;
}
#about .info .detail ul li:nth-child(5) {
  background-position: 0 -150px;
}
.content {
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  header.navbar {
    position: inherit;
    display: block;
    height: inherit;
    text-align: right;
    background-color: #fff;
    margin-bottom: 0;
  }
  header.navbar ul.nav {
    display: block;
    position: inherit;
    height: inherit;
    width: 100%;
    overflow: hidden;
  }
  header.navbar ul.nav li {
    display: block;
    width: 100%;
  }
  header.navbar ul.nav li.n_active {
    background-color: #efefef;
  }
  header.navbar ul.nav li a {
    color: #666 !important;
    padding: 0 20px;
    line-height: 3rem;
  }
  header.navbar ul.nav li a i {
    display: inline;
    opacity: 1;
  }
  #service .section-title h5 {
    padding-top: 4rem;
  }
  #about {
    position: relative;
  }
  #about .info {
    width: 100%;
  }
  #about .info img {
    position: absolute;
    width: 60px;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
  }
  #about .info .detail {
    display: block;
    float: none;
  }
  #about .info .detail h5 {
    text-align: center;
    margin: 0;
  }
  #about .info .detail ul {
    margin-top: 2rem;
  }
  #about .info .detail ul li {
    line-height: 3rem;
  }
}
