<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>系统管理</title>
    
    <link rel="stylesheet" type="text/css" href="/static//node_modules/element-ui/lib/theme-default/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
    <style>
        html,body{
            padding:0;
            margin:0;
            height:100%;
            width:100%;
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
            font-weight: 200;
        }
        #app{
            display: flex;
            height: 100%;
            flex-direction: column;
        }

        #app section {
            display: flex;
            flex: 1;
            padding: 20px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div id="app">
        <x-nav></x-nav>
        <section>
              <router-view></router-view>
        </section>
    </div>

<script src="/static/js/mod.js"></script>
<script type="text/javascript">/*resourcemap*/
require.resourceMap({
  "res": {
    "pages/admin/system.vue": {
      "url": "/static/js//pages/admin/system.js",
      "type": "js"
    },
    "pages/admin/banner.vue": {
      "url": "/static/js//pages/admin/banner.js",
      "type": "js"
    },
    "pages/admin/media.vue": {
      "url": "/static/js//pages/admin/media.js",
      "type": "js"
    }
  },
  "pkg": {}
});</script>
<script type="text/javascript" src="/static//node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="/static//node_modules/vue-router/dist/vue-router.common.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/mixins/emitter.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/merge.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/input.js"></script>
<script type="text/javascript" src="/static//node_modules/vue/dist/vue.runtime.common.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/dom.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/clickoutside.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/popup/popup-manager.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/scrollbar-width.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/popup/index.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/popper.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/vue-popper.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/resize-event.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/util.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/scrollbar.js"></script>
<script type="text/javascript" src="/static//node_modules/throttle-debounce/throttle.js"></script>
<script type="text/javascript" src="/static//node_modules/throttle-debounce/debounce.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/locale/lang/zh-CN.js"></script>
<script type="text/javascript" src="/static//node_modules/deepmerge/index.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/locale/format.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/locale/index.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/mixins/locale.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/tag.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/select.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/option.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/button.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/button-group.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/transitions/collapse-transition.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/checkbox.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/vdom.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/tooltip.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/checkbox-group.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/utils/date.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/util.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/rule/required.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/rule/whitespace.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/rule/type.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/rule/range.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/rule/enum.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/rule/pattern.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/rule/index.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/string.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/method.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/number.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/boolean.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/regexp.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/integer.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/float.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/array.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/object.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/enum.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/pattern.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/type.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/date.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/required.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/validator/index.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/messages.js"></script>
<script type="text/javascript" src="/static//node_modules/async-validator/lib/index.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/input-number.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/progress.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/mixins/migrating.js"></script>
<script type="text/javascript" src="/static//node_modules/babel-helper-vue-jsx-merge-props/index.js"></script>
<script type="text/javascript" src="/static//node_modules/element-ui/lib/element-ui.common.js"></script>
<script type="text/javascript" src="/static//node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/static/js//components/nav.js"></script>
<script type="text/javascript" src="/static/js//pages/admin/index.js"></script>
<script>
    require('pages/admin/index')
</script>
</body>
</html>