<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=info.name%></title>
    <style>
        .loader{
            position: fixed;
            top:0;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 2000;
            opacity: 1;
            background-color: #fff;
            background-image: url('/static/images/logo_big.png');
            background-repeat: no-repeat;
            background-position: center center;
        }


    </style>
    <link rel="stylesheet" href="/static/css/style.less">
</head>
<body>

    <div class="loader"></div>

    <div id='app'>
     


<header class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="padding: 0 15px;display: none">
          <img src="/static/images/logo_big.png" style="height: 42px;margin-top:4px" alt="" >
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style='padding:0;overflow: hidden;'>

        <img class="logo" src="/static/images/logo.png" alt="">
        
      <ul class="nav navbar-nav navbar-right">
         <li :class='{n_active:hash == "#index"}'>
                    <a href="#index" @click='toScroll("#index")'>首页
                        <i>HOME</i>
                    </a>
                </li>
                <li :class='{n_active:hash == "#service"}'>
                    <a href="#service" @click='toScroll("#service")'>服务
                        <i>SERVICE</i>
                    </a>
                </li>
                <li :class='{n_active:hash == "#case"}'>
                    <a style="color: #fff" href="#case" @click='toScroll("#case")'>案例
                     <i>CASE</i>
                     </a>
                </li>
                <li :class='{n_active:hash == "#about"}'>
                    <a href="#about" @click='toScroll("#about")'>关于
                         <i>ABOUT</i>
                    </a>
                </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>

    <section class="carousel" id='index'>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <% for(var i =0;i<banner.length;i++){ %>
                <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<% if(i==0){ %>active<% } %>"></li>
                <% } %>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <% for(var i = 0; i< banner.length; i++) { %>
                <div class="item <% if(i == 0) { %> active <% } %>" >
                    <img src="/static/upload/<%= banner[i].src %>" alt="<%= banner[i].remark %>">
                </div>
                <% } %>
            </div>

            <!-- Controls -->
            <a style="background: none" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="el-carousel__arrow el-carousel__arrow--left" aria-hidden="true">
                    <i class="glyphicon glyphicon-menu-left"></i>
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a  style="background: none" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="el-carousel__arrow el-carousel__arrow--right" aria-hidden="true">
                       <i class="glyphicon glyphicon-menu-right"></i>
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section id='service' >
        <div class="section-title">
            <h5 class='wow fadeInLeft'>我们能做什么?</h5>
            <p class='wow fadeInRight'>What can we do?</p>

            <div class='service-images wow fadeIn' >
                <img :src="'/static/images/service/'+pic+'.png'" alt="">
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4" >
                        <transition name="fade">
                        <div v-show="pic == 'animate'|| pic == 'normal'">
                            <img @click="onHover('animate')" @mouseover="onHover('animate')" @mouseout="onHover()" src="/static/images/p1.png" alt="">
                            <h5 class="wow fadeInLeft">动画</h5>
                            <p class="wow fadeInLeft">Animation</p>
                        </div>
                        </transition>
                        <transition name="zoom">
                            <div class="broadcast" v-show="pic == 'design'">
                                <h4>视觉万物</h4>
                                <h4>来自平面</h4>
                            </div>
                        </transition>
                        <transition name="zoom">
                        <div class="broadcast " v-show="pic == 'media'">
                            <h4>有时候</h4>
                            <h4>包装只是"壳"</h4>
                            <h4>但在这儿</h4>
                            <h4>包装是"核"</h4>
                        </div>
                        </transition>

                    </div>
                    <div class="col-xs-4">
                        <transition name="fade">
                        <div v-show="pic == 'media'|| pic == 'normal'">
                            <img  @click="onHover('media')" @mouseover="onHover('media')" @mouseout="onHover()"  src="/static/images/p2.png" alt="">
                            <h5 class="wow fadeIn">影视包装</h5>
                            <p class="wow fadeIn">Movie Packaging</p>
                        </div>

                        </transition>
                        <transition name="zoom">
                            <div class="broadcast bold" v-show="pic == 'design'">

                                <h4>平面广告</h4>
                                <h4>电商宣传</h4>
                                <h4>UI设计</h4>
                                <h4>网页设计</h4>
                                <h4>宣传册 包装 海报</h4>
                            </div>
                        </transition>
                        <transition name="zoom">
                            <div class="broadcast bold" v-show="pic == 'animate'">
                                <h4>产品广告</h4>
                                <h4>科教培训</h4>
                                <h4>建筑规划</h4>
                                <h4>动漫影视</h4>
                            </div>
                        </transition>

                    </div>
                    <div class="col-xs-4">
                        <transition name="fade">
                        <div v-show="pic == 'design'|| pic == 'normal'">
                            <img  @click="onHover('design')" @mouseover="onHover('design')" @mouseout="onHover()"  src="/static/images/p3.png" alt="">
                            <h5 class="wow fadeInRight">平面设计</h5>
                            <p  class="wow fadeInRight">Graphic Designer</p>
                        </div>
                        </transition>
                        <transition name="zoom">
                            <div class="broadcast" v-show="pic == 'animate'">

                                <h5>Anima--灵魂</h5>
                                <h5>Animate--赋予生命</h5>
                                <h5>Animation--我们正在做的事</h5>
                            </div>
                        </transition>
                        <transition name="zoom">
                        <div class="broadcast " v-show="pic == 'media'">
                            <h4>栏目包装</h4>
                            <h4>影视片头</h4>
                            <h4>后期合成</h4>
                            <h4>配音剪辑</h4>
                        </div>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id='case'>
        <div class="section-title">
            <h5 class='wow fadeInLeft'>我们做了什么?</h5>
            <p class='wow fadeInRight'>What have we done?</p>
        </div>
        <div class="container-fluid">
                <% for(var i=0;i< media.length;i++ ) {%>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="media">
                        <img src="/static/upload/<%= media[i].cover %>" alt="">
                        <div class="media-hover">
                            <p>
                               <i class="glyphicon glyphicon-play-circle"></i>
                            </p>
                            <h5><%= media[i].name %></h5>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="col-sm-6 col-md-6 col-sx-12">
                    <a href="#">
                        <img src="/static/images/more.jpg" alt="">
                    </a>
                </div>
        </div>
        <div style="clear:both;"></div>
     </section>
    <section id='about'>
         <div class="section-title">
            <h5 class='wow fadeInLeft'>关于我们</h5>
            <p class='wow fadeInRight'>About us</p>
        </div>

        <div class='bottom-img'>
            <img src="/static/images/bottom_01.jpg" alt="">
        </div>
        <div class='info'>
             <img src="/static/images/logo_big.png" alt="">
            <div class='detail'>
                <h5><%= info.name %></h5>
                <ul>
                    <li><%= info.tel %></li>
                    <li><%= info.email %></li>
                    <li><%= info.qq %></li>
                    <li><%= info.email %></li>
                    <li><%= info.address %></li>
                </ul>
            </div>
        </div>
    </section>
    </div>
</body>
</html>
<script src='/static/js/mod.js'></script>
<script src='/static/js/wow.js'></script>
<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
<script>
    require('./index.js')
</script>